body {
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
  opacity: 0.8;
  color: #000;
}

header nav li {
  margin: 1.25em;
  font-family: 'Roboto', sans-serif;
}

#img-credit {
  position: absolute;
  right: 0;
  margin: 5px 5px 0 0;
}

li {
  list-style: none;
}

a:hover {
  opacity: 1;
}


div.home {
  font-size: 3em;
  padding-top: 16%;
  padding-bottom: 25%;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  /*background-color: #2980b9;*/
  background-image: url('images/home.jp2');
}

div.home .border {
  height: 5em;
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

div.projects-container {
  align-items: center;
  color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.projects-container div.project img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 265px;
  width: 430px;
  filter: gray;
  -webkit-filter: grayscale(80%);
  animation: fadein 3s 1s ease-in-out;
}

div.project {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}

@keyframes fadein {
  0% {
    margin-top: 100%;
    opacity: 0;
  }

  100% {
    margin-top: 0%;
    opacity: 1;
  }
}


header.projects-header {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3em;
  text-transform: capitalize;
  margin: 1em 0 .75em;
  font-family: 'Roboto', sans-serif;
}

div.projects-container div.project img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

div.project a.project-button {
  margin: 5px;
}

div.project a.project-button button {
  background-color: #3498db;
  border-radius: 2px;
  border-style: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.14), 0 2px 10px 0 rgba(0,0,0,.1);
  color: #fff;
  padding: 10px 20px;
}

button.btn.about {
  text-transform: capitalize;
}
section.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section.contact div.contact-text {
  font-size: 3em;
  margin: .25em 0 .75em;
  font-family: 'Roboto', sans-serif;
}

section.contact div.icons i {
  margin: 1em 1em;
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}

section.contact div.icons i:hover {
  opacity: 1;
}

footer.footer-text {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  background-color: #000;
  opacity: .75;
  color: #fff;
}
